<div class="row">
  <div class="col-md-12" *ngIf="showNoExpenses">
    <div class="alert alert-warning" role="alert">
      <strong>Aww!</strong> You have no expenses in your account.
    </div>

    Do you want to create one now ? <a [routerLink]="['/expense/add']">Add Expense</a>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    Select a different period:
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-4">
        From: <input type="text" readonly class="form-control" [value]="fromDate | date: 'shortDate'" (focus)="showFromDatePicker=true"
        />
        <datepicker *ngIf="showFromDatePicker" id="dp-fromDate" style="position: absolute; z-index:10; min-height:290px;" [(ngModel)]="fromDate"
          name="fromDate" [showWeeks]="false" (selectionDone)="updateFromDate($event)"></datepicker>
      </div>
      <div class="col-md-4">
        To: <input type="text" readonly class="form-control" [value]="toDate | date: 'shortDate'" (focus)="showToDatePicker=true"
        />
        <datepicker *ngIf="showToDatePicker" id="dp-toDate" style="position: absolute; z-index:10; min-height:290px;" [(ngModel)]="toDate"
          name="toDate" [showWeeks]="false" (selectionDone)="updateToDate($event)"></datepicker>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <nvd3 [options]="options" [data]="data"></nvd3>
  </div>

  <div class="col-md-6" *ngIf="getExpensesByDate().length > 0">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Expense Type</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let exp of getExpensesByDate(); let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ exp.type }}</td>
          <td>{{ exp.amount }}</td>
        </tr>

        <tr>
          <td colspan="3">Total : $ {{ getTotalAmount() }}</td>
        </tr>
        <tr>
          <td colspan="3">
            <button type="submit" class="btn btn-primary" (click)="addExpense()"> 
            Add Expense 
           </button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>


<br>
